.add-post-footer,
.user-description-text,
.work,
.modal-footer,
.container-button-edit {
  display: none;
}
/* general */
.post-card,
.comments-general,
.comment-card {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-posts {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.user-post,
.add-comments,
.comment-card,
.container-internal,
.container-internal-list,
.friend-card,
.label-profile {
  width: 100%;
  max-width: 1000px;
}
.user-comment {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.user-name-comment,
.comment-text,
.list-comments,
.work,
.language,
#card-post {
  width: 100%;
}
#form-profile {
  width: 285px;
}
[data-menu='open'] {
  width: 285px;
}
.user-post,
.container-internal,
#form-profile {
  background-color: var(--color-white);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#form-profile {
  padding: 15px 10px;
  position: relative;
  margin: 0;
}
.user-post {
  padding: 30px 12px 15px 15px;
  position: relative;
}
.user-form-login {
  display: flex;
  flex-direction: column;
}
.container-internal {
  background: var(--color-dark-gray);
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.post-text,
.comment-text,
.friend-card,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text,
.search-input,
.header-profile,
.container-internal-list,
.comment-card,
.post-footer,
.post-header,
.line-post,
#form-profile,
.profile-description,
.user-form-login,
.post-timeline,
.user-comment-text {
  width: 100%;
}
.post-text,
.comment-text,
.friend-card,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text,
.search-input,
.header-profile,
.post-header {
  margin-bottom: 10px;
}
.post-text,
.comment-text,
.friend-card,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text,
.search-input,
.header-profile {
  background-color: var(--color-light-gray);
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-black);
  text-align: start;
}
.header-profile {
  margin-bottom: 20px;
  background-color: var(--color-dark-green);
  padding: 10px;
  display: flex;
  flex-direction: row;
}
/*
.post-text,
.comment-text,
.add-comment-input,
.add-post-input,
.profile-header,
.user-description-text {
  resize: none;
  outline: none;
  overflow: hidden;
}
*/
.post-header,
.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-header,
.user-description-text {
  background-color: var(--color-white);
}
.post-timeline,
.add-comments,
.comments-general {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.friend-card {
  background-color: var(--color-dark-green);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post-text {
  margin: 5px 0;
  padding: 8px;
}
.comment-text {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  font-size: 0.75rem;
}
.user-description-text {
  padding: 0;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: var(--color-dark-green);
  margin: 5px 0 0 0;
}
.post-footer {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-post-footer {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.label-profile {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 10px;
}
.post-text-yellow {
  background: var(--color-dark-yellow);
}
.post-text-yellow::placeholder {
  color: var(--color-medium-gray);
}
.modal-post-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#file-upload-image {
  border: none;
}
input[type='file'] {
  display: none;
}
.line-post {
  margin: 15px 0;
  height: 3px;
  background-color: var(--color-dark-green);
}
.add-comment-input {
  border: var(--border-input-post);
}
.add-comment-input {
  margin: 0 0 20px 0;
  height: 200px;
  background-color: var(--color-light-yellow);
  margin-bottom: 5px;
}
.add-comment-input::placeholder,
.add-post-input::placeholder {
  font-size: 0.75rem;
}
.icon-container-edit-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

/* create new post */
.modal-header {
  width: 90%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* page friends */
.search-input {
  height: 40px;
  margin-bottom: 20px;
  color: var(--color-white);
  background-color: var(--color-dark-pink);
  border: none;
  background-image: url('../../img/icons/icon-search.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 96% center;
  padding: 20px 30px 20px 10px;
  font-size: 0.875rem;
  text-align: left;
}
.search-input::placeholder {
  color: var(--color-medium-ligh-gray);
}

/* user information */
.user-information {
  width: 100%;
}
.user-link-photo,
.user-link-photo-comment,
.user-link-photo-modal {
  border-radius: 4px;
  background-color: var(--color-dark-yellow);
  margin-right: 10px;
  display: flex;
  column-gap: 20px;
}
.user-link-photo {
  width: 40px;
  height: 40px;
}
.user-photo-post {
  width: 40px;
  height: 40px;
  align-self: center;
}
.user-link-photo-card,
.user-link-photo-profile {
  margin-top: 5px;
  align-self: flex-start;
}
.user-link-photo-profile {
  background: var(--color-dark-pink);
}
.user-link-photo-comment {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-link-photo-profile,
.user-photo-profile {
  width: 55px;
  height: 55px;
}
.user-link-photo-modal,
.user-photo-post-modal {
  width: 45px;
  height: 45px;
}
.user-link-photo-profile {
  margin-right: 15px;
}
.user-photo-comment {
  width: 30px;
  height: 30px;
  align-self: flex-start;
}
.user-name,
.user-name-comment,
.user-name-profile,
.name-user {
  font-family: var(--font-emphasis);
  color: var(--color-black);
}
.user-name {
  font-size: 1.125rem;
  text-align: left;
}
.user-name-comment {
  font-size: 0.875rem;
}
.post-date {
  font-size: 0.75rem;
  text-align: left;
  margin: 5px 0;
}
.user-friend-name {
  font-size: 1.125rem;
}
.friend-small-text {
  font-size: 1rem;
}
.user-container-image {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: var(--color-dark-pink);
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile-image {
  width: 80px;
  height: 80px;
}

/* delete modal items */
.text-delete,
#message-new-post,
.message-edit-post {
  font-size: 1rem;
  font-weight: 600;
}
.container-modal-delete-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (min-width: 550px) and (max-width: 999px) {
  .user-name {
    margin-bottom: 5px;
  }
  .post-date,
  .language {
    font-size: 0.875rem;
  }
  .post-footer {
    margin-top: 10px;
  }
  .user-link-photo,
  .user-photo-post {
    width: 50px;
    height: 50px;
  }
  .user-link-photo {
    margin-right: 20px;
  }
  .user-name-profile {
    font-size: 1.25rem;
  }
  .user-link-photo-profile,
  .user-photo-profile {
    width: 60px;
    height: 60px;
  }
  .user-photo-post-modal,
  .user-link-photo-modal {
    width: 55px;
    height: 55px;
  }
  .add-post-input,
  .add-post-input::placeholder {
    font-size: 1.125rem;
  }
  .text-delete,
  #message-new-post {
    font-size: 1.25rem;
  }
  .post-text {
    padding: 15px;
    font-size: 1.125rem;
  }
  .user-post {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .user-name {
    font-size: 1.375rem;
    margin-bottom: 5px;
  }
  .post-date,
  .language {
    font-size: 1rem;
  }
  .post-footer {
    margin-top: 10px;
  }
  .user-link-photo,
  .user-photo-post {
    width: 55px;
    height: 55px;
  }
  .user-photo-post-modal,
  .user-link-photo-modal {
    width: 60px;
    height: 60px;
  }
  .user-link-photo {
    margin-right: 20px;
  }
  .user-link-photo-profile,
  .user-photo-profile {
    width: 70px;
    height: 70px;
  }
  .user-name-profile {
    font-size: 1.25rem;
  }
  .add-post-input,
  .add-post-input::placeholder {
    font-size: 1.25rem;
  }
  .text-delete,
  #message-new-post {
    font-size: 1.25rem;
  }
  .post-text {
    padding: 15px;
    font-size: 1.125rem;
  }
  .user-post {
    padding-bottom: 20px;
  }
}
